doctype html
html(lang="eng")
    head
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='stylesheet', href='/css/main.css')
    block title
        title federicomaffei.com
    body
        div.container
            block content