doctype html
html(lang="eng")
    head
        link(rel="icon" type="image/ico", href='/favicon.ico')
        link(href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/css/main.css')
    block title
        title federicomaffei.com
    body
        div.container
            block content