ul {
    list-style-type: none;
    padding: 0 0 0 0;
}

li {
    padding: 5px 0 5px 0;
}

div.vertical-list {
    text-align: center;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em
}