html {
    font-size: 62.5%
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
}

ul.main-list {
    list-style: none;
    text-align: center;
}

li.list-element {
    margin: 10px 0 10px 0;
}
