extends layout/layout

block content
    div.wrapper
        ul.main-list
            li.list-element federico maffei
            li.list-element computer programmer
            li.list-element
                img(src='/img/folto.png')
            li.list-element
                a(href='https://github.com/federicomaffei') github
            li.list-element
                a(href='https://twitter.com/federicom4ffei') twitter
            li.list-element
                a(href='http://blog.federicomaffei.com/') blog
            li.list-element
                a(href='federico.maffei@gmail.com') email me
