extends layout/layout

block content
    div.pure-u-lg-1-3.pure-u-md-1-4.pure-u-sm-1-24
    div.vertical-list.pure-u-lg-1-3.pure-u-md-1-2.pure-u-sm-22-24
        ul
            li federico maffei
            li developer
            li
                img(src='/img/folto.png')
            li
                a(href='https://github.com/federicomaffei') github
            li
                a(href='https://twitter.com/federicom4ffei') twitter
            li
                a(href='http://blog.federicomaffei.com/') blog
            li
                a(href='mailto:federico.maffei@gmail.com') email me
    div.pure-u-lg-1-3.pure-u-md-1-4.pure-u-sm-1-4
